<form method="post" action="/veterinaria/guardar">
    <label>NombreMascota</label>
    <input type="text" name="NombreMascota "/>
    <label>Sexo</label>
    <input type="text" name="sexo "/>
    
     <label>Especie </label>
     <input type="text" name="Especie"/>
     <label>Raza </label>
    <input type="text" name="Raza"/>
    
    <label>Tamano </label>
    <input type="text" name="Tamano  "/>
    <label>DatosParticulares</label>
    <input type="text" name="DatosParticulares"/>    

    <label>NombreDueno  </label>
    <input type="text" name="NombreDueno"/>
    <label>DireccionDueno </label>
    <input type="text" name="DireccionDueno "/>  
   
    <label>Telefono   </label>
    <input type="text" name="Telefono"/>
    <label>Email </label>
    <input type="text" name="Email  "/>      
    
    
    <button> Enviar </button>
</form>