<form method="post" action="/veterinaria/Refresh">
    
    <label>NombreMascota </label>
    <input type="text" name="NombreMascota " readonly value="@Model.NombreMascota "/>
    <label>Comentario</label>
    <input type="text" name="sexo " value="@Model.sexo "/>

    <button> Enviar </button>
</form>